@model IEnumerable<filmdesigners.at.Models.Job>


@{
    ViewData["Title"] = "Members";
}

@await Html.PartialAsync("_DepartmentPartial")
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom">
        <div class="row">
            <h2>Departments</h2>
        </div>
        @if (User.IsInRole("MembersAdministrator"))
        {
            <p>
                <a asp-action="Create">Create New Member</a>
            </p>
        }
        <table class="table">
            <tbody>
                @foreach (var item in Model)
                {
                    if(!item.isPartner)
                    {
                        <tr>
                            <td>
                                <a asp-controller="Members" asp-action="Index" asp-route-job="@item.JobId" style="color: white">
                                    <h3>
                                        @Html.DisplayFor(modelItem => item.Name)
                                    </h3>
                                </a>
                                <p>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </p>
                            </td>
                        </tr>
                    }
                }
                <tr>
                    <td>
                        <div id="accordion">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" style="color: white;">
                                            <h3>
                                                Partner
                                            </h3>
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                                    <div class="card-body">
                                        @foreach (var item in Model)
                                        {
                                            if(item.isPartner)
                                            {
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <a asp-controller="Members" asp-action="Index" asp-route-job="@item.JobId" style="color: white">
                                                                <h4>
                                                                    @Html.DisplayFor(modelItem => item.Name)
                                                                </h4>
                                                                <p>
                                                                    @Html.DisplayFor(modelItem => item.Description)
                                                                </p>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            }
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>