@model IEnumerable<filmdesigners.at.Models.Event>

@{
    ViewData["Title"] = "Events";
}

@await Html.PartialAsync("_HomePartial")
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom">
        <div class="row">
            <h2>Events</h2>
        </div>
        @if (User.IsInRole("EventsAdministrator"))
        {
            <p>
                <a asp-action="Create">Create New Event</a>
            </p>
        }
        <table class="table">
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.EventID">
                            @if (item.Picture != "")
                            {
                                <img src="/images/@item.Picture" style="width: 90px"/>
                            }
                            else
                            {
                                <img src="~/images/00000000-0000-0000-0000-000000000001.svg" style="height: 120px; width: 90px;">
                            }
                        </a>
                    </td>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.EventID" style="color: white">
                            <h3>
                                @Html.DisplayFor(modelItem => item.Title)
                            </h3>
                        </a>
                        <p>
                            @Html.Raw(item.Teaser)
                        </p>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</main>
