@model IEnumerable<filmdesigners.at.Models.Award>

@{
    ViewData["Title"] = "Awards";
}

@await Html.PartialAsync("_HomePartial")
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom">
        <div class="row">
            <h2>Awards</h2>
        </div>
        @if (User.IsInRole("AwardsAdministrator"))
        {
            <p>
                <a asp-action="Create">Create New Award</a>
            </p>
        }
        <table class="table">
            <tbody>
            @foreach (var item in Model) {
                <tr>
                    <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Job.JobId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Member.MemberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Project.ProjectID)
            </td>
                    @if (User.IsInRole("AwardsAdministrator"))
                    {
                        <td>
                            <p>
                                <a asp-action="Edit" asp-route-id="@item.AwardID">Edit</a>
                            </p>
                        </td>
                    }
                </tr>
                }
            </tbody>
        </table>
    </div>
</main>