@model filmdesigners.at.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OwnerID)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OwnerID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enrollments)
        </dt>
        <dd>
            <table class="table">
                <tr>
                    <th>Job</th>
                    <th>Member</th>
                </tr>
            @foreach(var item in Model.Enrollments ?? Enumerable.Empty<Enrollment>())
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Member.Name)
                    </td>
                </tr>
            }
            </table>        
        </dd>
        <dt>@Html.DisplayNameFor(model => model.Enrollments)</dt>
        <dt>
            <form asp-controller="Enrollments" asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProjectID" class="control-label"></label>
                    <select asp-for="ProjectID" class="form-control" asp-items="ViewBag.ProjectID"></select>
                </div>
                <!--div class="form-group">
                    <label asp-for="ViewBag.MemberID" class="control-label"></label>
                    <select asp-for="MemberID" class="form-control" asp-items="ViewBag.MemberID"></select>
                </div-->
                <!-->div class="form-group">
                    <label asp-for="JobId" class="control-label"></label>
                    <select asp-for="JobId" class="form-control" asp-items="ViewBag.JobId"></select>
                </div-->
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </form>
        </dt>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
