@model filmdesigners.at.Models.Member
@{
    ViewData["Title"] = "Details";
    bool firstProjectCard = true;
}

@await Html.PartialAsync("_DepartmentPartial")
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <div class="d-flex justify-content-between flex-wrap align-items-center pb-2 mb-3 border-bottom">
    <h2>Details</h2>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <img src="/images/@Html.DisplayFor(model => model.Picture)" />
            </div>
            <div class="col-md-8">
                <h3>
                    @Html.DisplayFor(model => model.Name)
                </h3>
                <a href="mailto:@Html.DisplayFor(model => model.EMail)">
                    @Html.DisplayFor(model => model.EMail)
                </a>
                <br />
                <a href="tel:@Html.DisplayFor(model => model.Mobile)">@Html.DisplayFor(model => model.Mobile)</a>
                <br />
                <a href="tel:@Html.DisplayFor(model => model.Phone)">@Html.DisplayFor(model => model.Phone)</a>
                <br />
                <span>
                    @Html.DisplayFor(model => model.Street)
                </span>
                <br />
                <span>
                    @Html.DisplayFor(model => model.ZIP) @Html.DisplayFor(model => model.City)
                </span>
                <br />
                <span>
                    @Html.DisplayFor(model => model.Country)
                </span>
            </div>
        </div>
        <div class="accordion" id="projectsAccordion">
            @foreach (var year in (List<List<Enrollment>>)ViewData["Enrollments"])
            {
                <div class="card">
                    <div class="card-header project-toggle" id="@year.First().Project.Date.Year-h">
                        <h5 class="mb-0">
                            <a class="btn" data-toggle="collapse" data-target="#@year.First().Project.Date.Year" aria-expanded="true" aria-controls="@year.First().Project.Date.Year">
                                @year.First().Project.Date.Year
                            </a>
                        </h5>
                    </div>
                    @if(firstProjectCard)
                    {
                            <div id="@year.First().Project.Date.Year" class="collapse show" aria-labelledby="@year.First().Project.Date.Year-h" data-parent="#projectsAccordion">
                            <div class="card-body">
                                @foreach(var enrollment in year)
                                {
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-6">
                                                @enrollment.Project.Name
                                            </div>
                                            <div class="col-6">
                                                @enrollment.Job.Name
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        firstProjectCard = false;
                    }
                    else
                    {

                            <div id="@year.First().Project.Date.Year" class="collapse" aria-labelledby="@year.First().Project.Date.Year" data-parent="#projectsAccordion">
                            <div class="card-body">
                                @foreach(var enrollment in year)
                                {
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-6">
                                                @enrollment.Project.Name
                                            </div>
                                            <div class="col-6">
                                                @enrollment.Job.Name
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    }
               </div>
            }
        </div>
    </div>
</div>
@if (AuthorizationService.AuthorizeAsync(User, new Enrollment(), EnrollmentOperations.Create).Result.Succeeded)
{
<div class=container-fluid>
    @Html.Partial("~/Views/Enrollments/Create.cshtml", new Enrollment())
</div>
}
@if (Model.Status != MemberStatus.Approved)
{
    @if (AuthorizationService.AuthorizeAsync(User, Model, MemberOperations.Approve).Result.Succeeded)
    {
        <form asp-action="SetStatus" asp-controller="Members" style="display:inline;">
            <input type="hidden" name="id" value="@Model.MemberId" />
            <input type="hidden" name="status" value="@MemberStatus.Approved" />
            <button type="submit" class="btn btn-xs btn-success">Approve</button>
        </form>
    }
}
@if (Model.Status != MemberStatus.Rejected)
{
    @if (AuthorizationService.AuthorizeAsync(User, Model, MemberOperations.Reject).Result.Succeeded)
    {
        <form asp-action="SetStatus" asp-controller="Members" style="display:inline;">
            <input type="hidden" name="id" value="@Model.MemberId" />
            <input type="hidden" name="status" value="@MemberStatus.Rejected" />
            <button type="submit" class="btn btn-xs btn-danger">Reject</button>
        </form>
    }
}
<div>
    <a asp-action="Edit" asp-route-id="@Model.MemberId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
    </main>