@model IEnumerable<filmdesigners.at.Models.Member>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>
@if (User.IsInRole("MembersAdministrator"))
{
    <p>
        <a asp-action="Create">Create New Member</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                
            </th>
            <th>
                
            </th>
            <th>
                
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mobile)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fax)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Street)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZIP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EMail)
            </th>
            @if (AuthorizationService.AuthorizeAsync(User, null, MemberOperations.ReadMemberState).Result.Succeeded)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
            }
            @if (AuthorizationService.AuthorizeAsync(User, null, MemberOperations.Update).Result.Succeeded)
            {
                <th>
                    Actions
                </th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        if(item.Status == MemberStatus.Approved || AuthorizationService.AuthorizeAsync(User, item, MemberOperations.ReadMemberState).Result.Succeeded)
        {
            <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.MemberId">
                    <img src="@item.Picture" />
                </a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MemberId">
                    <h3>
                        @Html.DisplayFor(modelItem => item.Name)
                    </h3>
                </a>
            </td>
            <td>
                <a asp-controller="Jobs" asp-action="Details" asp-route-id="@Html.DisplayFor(modelItem => item.Job.JobId)">
                    @Html.DisplayFor(modelItem => item.Job.Name)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mobile)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Street)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZIP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                <a href="mailto:@Html.DisplayFor(modelItem => item.EMail)">
                    @Html.DisplayFor(modelItem => item.EMail)
                </a>
            </td>
            @if (AuthorizationService.AuthorizeAsync(User, item, MemberOperations.ReadMemberState).Result.Succeeded)
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
            }
            <td>
                @if (AuthorizationService.AuthorizeAsync(User, item, MemberOperations.Update).Result.Succeeded)
                {
                    <a asp-action="Edit" asp-route-id="@item.MemberId">Edit</a>
                }
                @if (AuthorizationService.AuthorizeAsync(User, item, MemberOperations.Delete).Result.Succeeded)
                {
                    <a asp-action="Delete" asp-route-id="@item.MemberId">Delete</a>
                }
            </td>
        </tr>
        }
}
    </tbody>
</table>

ViewData
